<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/details.css">
</head>
<body>
    <header>
        <%- include('./layout/header.ejs')%>
    </header>
    <main>
        <div>
            <img src="<%= details.image%>" alt="">
                <h3><%= details.name%></h3>
                <p><%= details.quote%></p>
                <form action="/favorite-quotes/<%= details.id%>?_method=PUT" method="POST">
                    <input type="text" value="<%= details.quote%>" name="quote">
                    <br>
                    <button>update character</button>
                </form>
                <form action="/favorite-quotes/<%= details.id%>?_method=DELETE" method="POST">
                    <button>delete character</button>
                </form>
        </div>
    </main>
    <footer>

    </footer>
    
</body>
</html>